*
{
    margin: 0px;
    padding: 0px;
}
body
{
    display: grid;
    grid-template-rows: auto auto auto;
}
header
{
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(3, 3, 30);
}
.header-text
{
    text-align: center;
    color: rgb(242, 105, 8);
}
.header-text h1
{
    font-size: 100px;
}
main
{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
    
}
main div
{
    text-align: justify;
}
blockquote
{
    color: blue;
    text-align: center;
    text-justify:inter-word;
    border-bottom: solid 4px black;
    border-top: solid 4px black;
    font-size: 25px;
}
.first-row
{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
}
.first-row > div:nth-child(1)::first-letter
{
    color:orangered;
    font-weight: 400px;
    font-size: 70px;
    float: left;
    margin: 1rem;
}
.first-row div:nth-of-type(2)
{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
}
.second-row
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}
.second-first-column
{
    display: grid;
    grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}
.second-first-column div
{
    text-wrap: wrap;
}
.second-first-column h3, .second-first-column h4
{
    color:blue;
}
.second-second-column
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    row-gap: 5px;
}
.second-second-column div:nth-of-type(2)
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second-second-column .image
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    grid-column: span 2;
}
.second-second-column .calculatrice
{
    
    height: 400px;
}
footer
{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
footer ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li
{
    list-style-type: none;
    display: inline;
}
.social-media{
    width: 50px;
    margin: 15px;
}